//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends login_layout

block login_content
  h1 LamaCloud Zerotier Controller

  h3 
    a(href="/planet" download) Click here to download planet file of this server
    
  h3
    a(href="/login") Click login to continue